# Docker-specific configuration
spring:
  datasource:
    url: jdbc:mysql://localhost:3307/ebp_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: root
    password: Douglas20!

  data:
    redis:
      host: redis
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: auth-service

logging:
  level:
    root: INFO
    com.youthconnect.auth: INFO